<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="red-background">

<div id="app"></div>
<!-- built files will be auto injected -->
</body>

<footer>
    <p>&copy;Petar Dimitrov & Philipp Loibl</p>
</footer>
</html>
