<template>
  <header>
    <img src="../assets/images/562.jpg"/>
  </header>

  <main>
    <form action="#" v-on:submit.prevent="onSubmit">
      <label for="username">
        <input v-model=usernameInput type="text" id="username" class="input" placeholder="Enter your username">
      </label>

      <label for="start_game">
        <button @click="goToOptions" type="submit" id="start_game" class="btn">Start Game</button>
      </label>
    </form>
  </main>

</template>

<script setup>
import {useRouter} from "vue-router";
import {computed, ref} from "vue";
import {getUserData, createUser} from '@/services/userData';
import {useStore} from 'vuex';

const router = useRouter();
let usernameInput = ref('');
const store = useStore();

const goToOptions = () => {
  let user;

  let storeData = async () => {
    const data = await getUserData(usernameInput.value);

    if (data.length === 0) {
      user = await createUser({username: usernameInput.value, highScore: 0});
    } else {
      user = data[0];
    }

    store.commit("setUser", {
      id: user.id,
      username: user.username,
      highScore: user.highScore
    });

    const u = computed(() => store.getters.getUser);
    u.value;
    console.log(u.value.username);

     /*
    onMounted(() => {
      const data = computed(() => store.getters.getUser);
      console.log(data.value.username);
    });
     */
  };

  storeData();

  router.push('/options');
}
</script>

<style>

</style>
