<template>
  <main>

    <section>
      <h1>Before starting the game you must select the game options
      </h1>
    </section>

    <form v-on:submit.prevent="onSubmit" action="#" method="#">
      <label for="questions">Number of Questions</label>
      <input v-model="questionsAmount" type="number" id="questions" name="questions" class="input" min="1" max="50"
             placeholder="Enter number between 1 - 50">

      <label>Category</label>
      <select v-model="catOption" id="category" class="input">
        <option value="" disabled selected hidden>Select Category</option>
        <option v-for="(category, index) in categories" :key="index" :value="category.id">{{ category.name }}</option>
      </select>

      <label>Difficulty</label>
      <select v-model="difficultyOption" id="difficulty" class="input">
        <option value="" disabled selected hidden>Select Difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>

      <label>Type</label>
      <select v-model="typeOption" id="type" class="input">
        <option value="" disabled selected hidden>Select Type</option>
        <option value="multiple">Multiple Choice</option>
        <option value="boolean">True/False</option>
      </select>

      <label for="start_game">
        <button @click="startGame" type="submit" id="start_game" class="btn">Start Game</button>
      </label>

    </form>
  </main>
</template>

<script setup>
import {getAllCategories, getQuestions} from "@/services/triviaData";
import {computed, onBeforeMount, ref} from "vue";
import {useStore} from 'vuex';
import {useRouter} from "vue-router";

const store = useStore();
const router = useRouter();

onBeforeMount(async () => {
  const data = await getAllCategories();
  store.commit('setCategories', data.trivia_categories);
});

let categories = computed(() => store.getters.getCategories);

let questionsAmount = ref('');
let catOption = ref('');
let difficultyOption = ref('');
let typeOption = ref('');

async function startGame() {
  if (!questionsAmount.value || !catOption.value || !difficultyOption.value || !typeOption.value || questionsAmount.value >50 || questionsAmount.value < 1) {
    alert("Please select all fields properly");
    await router.push('/options');
    return;
  }

  const options = {
    amount: questionsAmount.value,
    category: catOption.value,
    difficulty: difficultyOption.value,
    type: typeOption.value
  };


  const questions = await getQuestions(options.amount, options.category, options.difficulty, options.type);


  questions.results = questions.results.map(e => {
   return {
      category: decode(e.category),
      type: decode(e.type),
      difficulty: decode(e.difficulty),
      question: decode(e.question),
      correct_answer: decode(e.correct_answer),
      incorrect_answers: e.incorrect_answers.map(s => decode(s))
    }
  });

  store.commit('setQuestions', questions.results);
  store.commit('setOptions', options);

  await router.push('/questions')


  function decode(str){
    return decodeURIComponent(escape(atob(str)))
  }
}
</script>

<style>

</style>