<template>
  <form v-on:submit.prevent="onSubmit" id="question-sec" action="#" method="#" class="animate__backInLeft">
    <p id="count">Question: </p>
    <p id="question">{{arr[i].question}}</p>
    <input @click="changeBackground" v-bind:style="[questionsType === 'boolean' ? { 'bottom': '71px'} : {'bottom': '145px' }]" v-model="answer"
           type="radio" name="radio" id="1" :value="arr[i].answers[0]"/>
    <p v-bind:style="[selected1 ? {'background-color': 'orange'}: {'background-color': 'white'}]" class="input question" id="first">{{arr[i].answers[0]}}</p>
    <input @click="changeBackground" v-bind:style="[questionsType === 'boolean' ? { 'bottom': '71px'} : {'bottom': '145px' }]" v-model="answer"
           type="radio" name="radio" id="2" :value="arr[i].answers[1]"/>
    <p v-bind:style="[selected2 ? {'background-color': 'orange'}: {'background-color': 'white'}]" class="input question" id="second">{{arr[i].answers[1]}}</p>
    <input @click="changeBackground" v-if="questionsType === 'multiple'" v-model="answer" type="radio" name="radio" id="3"
           :value="arr[i].answers[2]"/>
    <p v-bind:style="[selected3 ? {'background-color': 'orange'}: {'background-color': 'white'}]" v-if="questionsType === 'multiple'" class="input question" id="third">{{arr[i].answers[2]}}</p>
    <input @click="changeBackground" v-if="questionsType === 'multiple'" v-model="answer" type="radio" name="radio"
           id="4" :value="arr[i].answers[3]"/>
    <p v-bind:style="[selected4 ? {'background-color': 'orange'}: {'background-color': 'white'}]" v-if="questionsType === 'multiple'" class="input question" id="fourth">{{arr[i].answers[3]}}</p>
    <button v-bind:style="[questionsType === 'boolean' ? { 'bottom': '71px'} : {'bottom': '145px' }]" @click="show"
            type="submit" class="btn animate__bounceInLeft animate__tada" id="sub-btn">Submit
    </button>
  </form>
</template>

<script setup>
import {useStore} from 'vuex';
import {computed, ref} from "vue";
import {useRouter} from "vue-router";

const store = useStore();
let router = useRouter();

let i = ref(0);
let answer = ref('');
let selected1 = ref(false);
let selected2 = ref(false);
let selected3 = ref(false);
let selected4= ref(false);
const userAnswers = [];

const ques = computed(() => store.getters.getQuestions);
const options = computed(() => store.getters.getOptions);
const questionsType = options.value.type;
const questions = ques.value;

const arr = [];

questions.forEach(e => arr.push({
  category: e.category,
  answers: [
    e.correct_answer,
    e.incorrect_answers[0],
    e.incorrect_answers[1],
    e.incorrect_answers[2]
  ].sort(() => Math.random() - 0.5),
  question: e.question
}));

function changeBackground($event) {
 let id = Number($event.target.id);

 id === 1 ? selected1.value = true : selected1.value= false;
 id === 2 ? selected2.value = true : selected2.value= false;
 id === 3 ? selected3.value = true : selected3.value= false;
 id === 4 ? selected4.value = true : selected4.value= false;
}

function show() {
  if (i.value === arr.length - 1) {
    userAnswers.push(answer.value);
    store.commit('setUserAnswers', userAnswers);
    i.value = 0;
    router.push('/results');

    return;
  }
  userAnswers.push(answer.value);
  i.value++;
  answer.value = '';

  selected1.value= false;
  selected2.value= false;
  selected3.value= false;
  selected4.value= false;
}

</script>

<style>
</style>