<template>
  <h1>Results:{{ crrResult }}</h1>
  <div id="btn-wrapper">
    <button @click="playAgain" type="submit" class="btn">Play Again</button>
    <button @click="goToHome" type="submit" class="btn">Go to Home</button>
  </div>

  <div v-for="(el, index) in arr" :key="index">
    <ResultComponent :questions-type="questionsType" :el="el" :index="index"></ResultComponent>
  </div>

</template>
<script setup>
import {useRouter} from "vue-router";

import {useStore} from "vuex";
import {computed, ref} from "vue";
import {updateUserScore} from "@/services/userData";
import ResultComponent from "@/components/ResultComponent";

let i = 0;
const store = useStore();
const router = useRouter();

const userAnswers = computed(() => store.getters.getUserAnswers).value;
const questions = computed(() => store.getters.getQuestions).value;
const options = computed(() => store.getters.getOptions);
const questionsType = options.value.type;

const arr = [];
questions.forEach(e => {
  arr.push({
    question: e.question,
    correctAnswer: e.correct_answer,
    userAnswer: userAnswers[i++],
    allAnswers: [
      e.correct_answer,
      e.incorrect_answers[0],
      e.incorrect_answers[1],
      e.incorrect_answers[2]
    ].sort(() => Math.random() - 0.5)
  });
});

let crrResult = ref(0);
let user = computed(() => store.getters.getUser).value;

for (let j = 0; j < userAnswers.length; j++) {
  if (userAnswers[j] == arr[j].correctAnswer) {
    crrResult.value += 10;
  }
}

if (crrResult.value > user.highScore) {
 updateUserScore(user.id, crrResult.value);
 store.commit('setHighScore', crrResult.value);
}

const goToHome = () => {
  router.push('/');
};



const playAgain = () => {
  router.push('/options');
};

</script>

<style scoped>
</style>



