<template>
  <form v-on:submit.prevent="onSubmit" id="question-sec" action="#" method="#">
    <p id="count">Question: {{ index + 1 }}</p>
    <p id="question">{{el.question}}</p>
    <p :class="[el.correctAnswer == el.allAnswers[0] ?'green' : '', el.userAnswer == el.allAnswers[0] ? 'orange':'']" class="input question" id="first">{{ el.allAnswers[0] }}</p>
    <p :class="[el.correctAnswer == el.allAnswers[1] ?'green' : '', el.userAnswer == el.allAnswers[1] ? 'orange':'']" class="input question" id="second">{{ el.allAnswers[1] }}</p>
    <p v-if="questionsType == 'multiple'" :class="[el.correctAnswer == el.allAnswers[2] ?'green' : '', el.userAnswer == el.allAnswers[2] ? 'orange':'']" class="input question" id="third">{{ el.allAnswers[2] }}</p>
    <p v-if="questionsType == 'multiple'" :class="[el.correctAnswer == el.allAnswers[3] ?'green' : '', el.userAnswer == el.allAnswers[3] ? 'orange':'']" class="input question" id="fourth">{{ el.allAnswers[3] }}</p>
  </form>
</template>

<script>
export default {
  props:['questionsType', 'el','index']
};

</script>
<style scoped>
.orange{
  background-color:orange;
}
.green{
  background-color:green;
}
</style>