@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header img {
    width: 100%;
    max-height: 876px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn {
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
    background-color: gray;
    font-size: 20px;
}

.input {
    font-size: 16px;
}

.input,
.btn {
    width: 350px;
    height: 50px;
    margin: 5px;
    border-radius: 0px;
    border: 2px solid black;
    text-align: center;
}

.red-background {
    min-height: 1349px;
    background: rgb(217, 203, 203);
    background: linear-gradient( 45deg, rgba(217, 203, 203, 1) 12%, rgba(215, 113, 113, 1) 49%, rgba(227, 71, 71, 1) 88%);
}

section h1 {
    margin-top: 150px;
    font-size: 36px;
    max-width: 650px;
    text-align: center;
    padding: 20px;
}

label {
    margin: 10px;
}

footer {
    margin-top: 200px;
    background: linear-gradient( 90deg, rgba(244, 191, 191, 1) 12%, rgba(223, 72, 72, 1) 60%, rgba(196, 26, 26, 1) 100%);
}

footer p {
    padding: 20px;
    text-align: center;
}

#question-sec {
    margin: 0 auto;
    width: 718px;
    display: grid;
    grid-template-areas: "count count" "info info" "input1 input2" "input3 input4";
    gap: 14px;
    justify-content: center;
}

#question {
    padding: 20px;
    background: white;
    text-align: center;
    border: 2px solid black;
    grid-area: info;
}

#count {
    grid-area: count;
    align-self: center;
    text-align: center;
}

#first {
    grid-area: input1;
}

#second {
    grid-area: input2;
}

#third {
    grid-area: input3;
}

#fourth {
    grid-area: input4;
}

#first,
#second,
#third,
#fourth {
    padding-top: 15px;
    padding-left: 35px;
    text-overflow: initial;
}

.question {
    font-size: 14px;
    background: white;
}

#question-sec input {
    margin: 22px;
    position: relative;
    left: 0px;
    bottom: 145px;
    width: 20px
}

#sub-btn {
    position: relative;
    left: 190px;
    bottom: 120px;
}

#sub-btn:hover {
    background-color: gray;
    padding: 0;
}

#btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

body h1 {
    text-align: center;
}

#count {
    font-size: 16px;
    font-weight: 500;
}